body,h1,p,h2,li,ul{
    font-family: 'Baloo 2', cursive;
    text-align: justify;
}

h1{
    border-left: 3px solid blue;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

pre{
    border-left: 3px solid blue;
    background-color: lightgray;
}

strong{
    color: blue;
    font-weight: 600;
    background-color: yellow;

}