*, *::after,*::before{
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  display: block;
  margin:auto;
  text-align: center;
}

ul{
  margin: 0 auto;
  list-style: none;
  text-align: left;
  width: 200px;
  padding: 0;
}

ul li{
  margin-bottom: 10px;
}

.itemLine1, .itemLine2{
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.itemLine1 input{
  margin: 0px;
}
.itemLine2 button{
  flex: 1;
  margin-block: 10px;
}