body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 98vmax;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  padding: 0px;
  margin:20px auto;
  
}

.mainDiv{
  margin: 0 auto;
  height: 1000px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.leftNav{
  flex: 1 1 auto;
  width: 20vw;
  margin: 0px;
  background-color: lightgray;
}


ul{
  list-style: none;
  margin: 0px auto;
  padding: 0px;
  font-size: 25px;
}

ul li{
  margin-bottom: 20px;
  color: black;
}

.navItem{
  text-decoration: none;
  color: black;
}

.rightMain{
  width: 80%;
  padding: 0px;
  margin: 0px;
  background-color: azure;
  flex: 1 1 auto;
  display: inline-block;
}

.sticky-nav-ul{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 80px;
}

.sticky-nav-ul li{
  flex: 0 0 auto;
  text-align: center;
  padding: 10px;
  margin: 0px;
  font-size: 25px;
}

.sticky-nav, .nav{
  background-color: lightblue;
  height: 80px;
  padding: 0px;
  margin: 0px;
}

.sticky-nav{
  position: fixed;
  width: 100%;
  top: 0px;
}


.header{
  height: 50px;
}

.viewNav, .floatNav{
  padding-left: 20px;
  width: 20vw;
  background-color: lightgray;
}


.floatNav {
  position:fixed;
  top: 0px;
}

.subMain{
  padding-top: 100px;
}