.todoPage{
    display: flex;
    align-items: flex-start;
}

.inputForm{
    width: 30%;
    height: 300px;
    padding-left: 20px;
    margin: 20px auto;
}

.todoList{
    margin: 20px auto;
    height: 300px;
    width: 60%;
}

.todoList ul{
    margin-top: 20px;
    list-style: none;
    border: 2px solid black;
    background-color: rgba(1, 1, 1, 0.1);
}

.todoList ul li{
    height: 40px;
    display: flex;
    flex-direction: row;
}

.todoList ul li *{
    width: 25%;
    margin: auto;
}
.todoList ul li button{
    width: 80px;
}

#listLegend{
    background-color: rgba(1, 1, 1, 0.3);
    font-weight: 700;

}
.todoList ul li:nth-child(odd){
    background-color: rgba(1, 1, 1, 0.1);
}
